<!DOCTYPE HTML>
<html lang="zh">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta charset="UTF-8">
        <title>自己的網站自己管！</title>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <!-- Include external CSS. -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container" style="padding-top: 5vh;" >
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                    <th>標題</th>
                    <th>日期</th>
                    <th>內容</th>
                    <th>附件</th>
                    <th>修改</th>
                    <th>刪除</th>
                    </tr>
                </thead>
                <tbody>
                    <% announce.forEach(function(val, index, arr){ %>
                    <tr>
                        <td><%= val.title %></td>
                        <td><%= moment(val.date).format('YYYY-MM-DD'); %></td>
                        <td><%- val.content %></td>
                        <td><%= val.attachment %></td>
                        <td><%= val._id %></td>
                        <td><%= val._id %></td>
                    </tr>
                    <% }); %>
            </tbody>
            </table>
            <form method="POST" action="/admin/NewAnn" id="NewAnn">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="NewAnnTitle" class="col-form-label">標題</label>
                        <input type="text" class="form-control" id="NewAnnTitle" name="title" placeholder="[公告] 標題">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4" class="col-form-label">發布日期</label>
                        <input class="form-control" type="date" name="date" id="NewAnnDate" value="<%= moment().format('YYYY-MM-DD'); %>" placeholder="<%= moment().format('YYYY-MM-DD'); %>" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="NewAnnContent" class="col-form-label">最新消息內容</label>
                    <textarea class="form-control" name="content" id="NewAnnContent" placeholder="1234 Main St"></textarea>
                </div>
                <div class="form-group">
                    <label for="NewAnnFile" class="col-form-label">其他附件</label>
                    <input type="file" name="attachment" class="form-control-file" id="NewAnnFile" >
                </div>
                <button type="submit" class="btn btn-primary">發佈</button>
            </form>
        </div>

        <!-- Include external JS libs. -->
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="//cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
        <script>
            (function($){
                $(function(){
                    CKEDITOR.replace("NewAnnContent");
                    $("#NewAnn").submit(function(e){
                        e.preventDefault();
                        var content = CKEDITOR.instances.NewAnnContent.getData();
                        $("#NewAnnContent").val(content);
                        var $form = $("#NewAnn");
                        var formdata = false;
                        if (window.FormData){
                            formdata = new FormData($form[0]);
                        }else{
                            formdata = $form.serialize();
                        }
                        $.ajax({
                            url:'/admin/NewAnn',
                            type:'POST',
                            data: formdata ? formdata : form.serialize(),
                            cache: false,
                            contentType: false,
                            processData: false
                        }).done(function(){
                            location.reload();
                        }).fail(function() {
                            swal('送出失敗！','請聯絡網站製作者','error');
                        });                       
                    });
                });
            })(jQuery);
            
           
        </script>
    </body>
</html>
