<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <%- include('head'); %>
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <%- include('header'); %>

            <!-- Main -->
            <article id="main">
                <header>
                    <h2><%= announce.title %></h2>
                    <p><%= moment(announce.date).format('YYYY-MM-DD'); %></p>
                </header>

                <section class="wrapper style5">
                    <div class="inner">
                        <%- announce.content %>
                        <% if(announce.attachment){ %>
                        <p>附件檔案：<a href="/upload/<%= announce.attachment %>"><%= announce.attachmentName %></a></p>
                        <% } %>
                    </div>
                </section>
            </article>

            <!-- Footer -->
            <%- include('footer'); %>
        </div>

		<!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
	</body>
</html>
                                